@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  font-family: 'Mountains of Christmas', cursive;
  
}
/* layout setting */
.container {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(#013994,#011953);
  position: relative;
  overflow: hidden;
  display: flex;
}

.container::before{
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background-image: url(../images/house.png);
  z-index: 1;
}

.container .circle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 300px;
  background-color: #FFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .circle::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 50% 50%;
  transform: rotate(15deg);
  background-image: url(../images/santa.png);
  background-size: 100%;
  background-repeat: no-repeat;
  animation: animateSanta 5s ease-in-out infinite;
}

.container .circle::after{
  content: "Merry Christmas";
  font-weight: bold;
  font-size: 3em;
  color: #FFF;
  position: absolute;
  inset: -70px -50px;
  display: flex;
  justify-content: center;
}

.container .snow {
  display: flex;
  width: 100%;
}


.container .snow span {
  width: 5px;
  height: 5px;
  background-color: #FFF;
  border-radius: 50%;
  margin: 0 1vw;
  box-shadow: -100px 20px 5px #fff, 100px 20px 5px #fff;
  animation: animateSnow 5s ease-in-out infinite;
  animation-duration: calc(50s / var(--i));
}

.container .snow span:nth-of-type(even) {
  width: 10px;
  height: 10px;
}


.container .snowflake {
  width: 100%;
  height: 100vh;
  z-index: 10;
  position: absolute;
  display: flex;
  /* justify-content: space-around; */
}

.container .snowflake span {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 5px;
  background-image: url(../images/snowflake.png);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  border-radius: 50%;
  animation: animateSnowFlake 5s ease-in-out infinite;
  animation-duration: calc(50s / var(--i));
}

@keyframes animateSnowFlake {
  0% { transform: translate(-10vw, -10vh);}
  100% { transform: translate(20vw, 100vh) rotate(50deg);}
}

@keyframes animateSnow {
  0% { transform: translate(-10vw, -10vh);}
  100% { transform: translate(10vw, 100vh);}
}

@keyframes animateSanta {
  0%,100% { transform: translate(5px, 5px);}
  50% { transform: translate(20px, 20px);}
}
